services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./backend/src/db/init.sql:/docker-entrypoint-initdb.d/1_init.sql
      - ./backend/src/db/seed.sql:/docker-entrypoint-initdb.d/2_seed.sql
      - pgdata:/var/lib/postgresql/data

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - postgres
    environment:
      NODE_ENV: production
      PORT: 8000
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: mydb
      DATABASE_URL: postgres://user:password@postgres:5432/mydb
    expose:
      - "8000"
    command: ["npm", "start"]
    working_dir: /app
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://localhost/api

volumes:
  pgdata:
