* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("https://storage.123fakturera.se/public/wallpapers/sverige43.jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  overflow-x: hidden;
}


a {
  transition: 0.2s ease-in-out;
}
